.footer-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Adjust the margin to control spacing between sections */
  margin-left:20px;
  width: 20%;
}

.footer a {
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer a:hover {
  color: #000;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid black; /* Adjust the color and thickness as needed */
  padding: 20px 0; /* Optional padding, adjust as needed */
}
