.voucher-page {
    width: 90%;
}

.voucher-page-info {
    border: 1px solid #ccc;
    padding: 10px 40px;
    padding-top: 5px;
    padding-right: 10px;
    margin: 40px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
}

.voucher-info-section {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.voucher-name,
.voucher-des,
.voucher-discount,
.voucher-date {
    color: black;
    margin: 0;
}

.voucher-des-title,
.voucher-discount-title {
    color: #4CAF50;
    margin: 0;
}

.voucher-date {
    text-align: justify;
}

.voucher-info-section {
    display: flex;
}