.recieve-history-page {
    margin-top: 100px;
  }
  
  /* .history-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
  } */
  .recieve-history-info {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
  }
  
  .recieve-history-info h3 {
    margin-top: 0;
  }
  
  .recieve-history-action button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .recieve-history-action button:hover {
    background-color: #0056b3;
  }
  
  .recieve-history-info{
    position: relative;
      display: flex;
  }
  
  .recieve-history-detail{
    flex: 1;
    padding: 20px 20px 20px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .recieve-history-list {
    display: flex; /* Cho phép các thẻ con sắp xếp ngang */
    flex-wrap: wrap; /* Cho phép thẻ xuống dòng nếu không đủ khoảng trống chiều ngang*/
    gap: 20px;
    flex-direction: column;
  }
  
  .recieve-boxR{
    display: flex;  /* Sắp xếp nội dung trong thẻ 'box' theo chiều ngang */
    align-items: center; /* Căn giữa các thẻ con theo chiều dọc */
    border: 1px solid #ccc; /* Thêm viền */
    border-radius: 5px;
    padding: 15px;
    width: calc(15% - 30px); /* Giả định mỗi thẻ chiếm khoảng 25% chiều ngang */
    
  }
  .recieve-product-infos1 {
    display: flex;  /* Sắp xếp nội dung trong thẻ 'box' theo chiều ngang */
    align-items: center; /* Căn giữa các thẻ con theo chiều dọc */
    border: 1px solid #ccc; /* Thêm viền */
  border-radius: 10px;
height: 50px;

justify-content: center;
  }
  
  .recieve-product-info { 
    margin-left: 20px; /* Tạo khoảng cách với hình ảnh */
    flex: 1;  /* Cho phép 'product-info' chiếm toàn bộ chiều ngang còn lại */
    display: flex;  /* Sắp xếp nội dung trong thẻ 'box' theo chiều ngang */
    align-items: center; /* Căn giữa các thẻ con theo chiều dọc */
    padding: 15px;
  }
  .recieve-name, .recieve-time, .recieve-status, .recieve-itleR, .recieve-NameAtwork, .recieve-Actor, .recieve-TimeApprove, .recieve-StatusApprove{
    margin-left: 80px;
    margin-right: 80px;
    width: max-content;
  }
  .recieve-Atwork{
    margin-left: 80px;
    margin-right: 100px;
    width: max-content;
  }
  .recieve-boxR img{
    max-width: 100%;
  }