.about-us-section {
    background-color: rgba(125, 125, 125, 0.1);
    padding: 50px 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us-text {
    width: 50%;
}

.about-us-heading {
    color: #1B8600;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
}

.about-us-description {
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 15px;
}

.about-us-image {
    width: 46%;
    margin-top: 75px;
}

.about-us-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}