#manage-navbar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100vw;
}

#logo {
    position: absolute;
    left: 5%;
}

#logo img {
    height: 100%;
    width: 70px;
}

.first-role-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second-role-section {
    display: flex;
    align-items: center;
    margin-right: 20vw;
}

.first-section-component-staff {
    margin: 0 5vw;
    padding: 16.5px;
}

.first-section-component-manager {
    margin: 0 10vw;
    padding: 16.5px;
}

.first-section-component-admin {
    margin: 0 25vw;
    padding: 16.5px;
}

.manage-navbar-user-name {
    color: black;
    padding: 0 1rem;
}

.manage-navbar-user-img {
    height: 80%;
    width: 50px;
    border-radius: 50%;
}

.manage-navbar-user-img-subnav {
    position: absolute;
    top: 100%;
    left: -130px;
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.manage-navbar-user-img-subnav-link {
    text-align: left;
}